<md-card id="login-card">
    <div class="md-card-image" style="background-image: url({{ $root.gitHubUser.avatar_url }});"></div>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Hallo, {{ $root.gitHubUser.UserName }}!</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <code>
            Schön, dass du bei uns bist!
        </code>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">

        <md-button class="md-primary md-raised" ng-controller="InviteController as invite" ng-click="openDialog($event)">
            Einladen...
        </md-button>


        <!--<div ng-controller="UsersController as users" ng-cloak style="position: relative; top: -8px; left: -20px;">
            <md-button aria-label="menu" class="md-fab" ng-click="users.setColor()" ng-style="{'background-color': $root.colors[$root.gitHubUser.colorIndex]}">
            </md-button>
        </div>-->
        <md-button ng-controller="LoginController as login" ng-click="login.logout()" class="md-raised md-primary">Ausloggen</md-button>
    </md-card-actions>
</md-card>



<!--
<md-card id="login-card" ng-repeat="other in $root.otherUsers">
    <div class="md-card-image" style="background-image: url({{ other.avatar_url }});"></div>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ other.UserName }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <code>
            Hier könnte einmal dein Kollege auftauchen...
        </code>
    </md-card-content>
</md-card>
-->