<div layout="row">
    <div layout="column" layout-fill>
        <md-toolbar md-scroll-shrink="true" class="toolbar">
            <div ng-controller="SideBarController" class="md-toolbar-tools">
                <span ng-click="openSidebar()">Cooperative Code Editor v.0.1</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button ng-click="openSidebar('right')">
                    <md-icon>
                        <i class="material-icons">menu</i>
                </md-button>
            </div>
        </md-toolbar>
    </div>
</div>